* {
	/*transition: all 0.4s cubic-bezier(0.18, 0.87, 0.54, 1.03); */
}

:root {
	--small-button-radius: 8px;
    --tab-min-height:  28px !important;
    --tabs-shadow-size: 0px !important;
    --tab-border-radius: 8.5px !important;
  }

.close-icon {
	appearance: none;
	-moz-context-properties: fill, fill-opacity;
	list-style-image: url(chrome://global/skin/icons/close.svg);
	border-radius: 7px !important;
	color: inherit;
	fill: currentColor;
	padding: 2px;
	width: 10px;
	height: 10px;
}

.tab-background {
	margin-left: 5px;
}

.tab-content {
	margin-left: 5px !important;
}

.tab-close-button{
	margin-inline-start: -2px !important;
	width: 16.5px !important;
	height: 16.5px !important;
	padding: 3px !important; 
	margin-inline-end:-6px !important;
	margin-right: 1px !important;
}

.close-icon:hover {
	background-color: none !important;

}

.tab-background {
	box-shadow:  20px 20px 60px #d9d9d9 !important;
}

.dialog-button-box {
	top: 100px;
}

#window-modal-dialog {
	--inner-height: 130px !important;
}

#urlbar, #searchbar {
	font-size: 1.11em;
}

#urlbar-background {
	border: none !important;
	border-radius: 10px !important;
}

#nav-bar:not([tabs-hidden="true"]) {
	box-shadow: none !important;
}

/* content after importing css from other file */

#navigator-toolbox {
  border-bottom: none !important;
}

.tab-close-button.close-icon {
  border-radius: var(--small-button-radius) !important;
}

#tracking-protection-icon-container {
  border-radius: var(--small-button-radius) !important;
}

#identity-icon-box {
  border-radius: var(--small-button-radius) !important;
}

#urlbar .searchbar-engine-one-off-item {
  min-width: 28px !important;
  height: 28px !important;
  margin-inline: 0 12px !important;
  border-radius: var(--small-button-radius) !important;
}

.urlbar-page-action, #urlbar-go-button, .search-go-button {
  border-radius: var(--small-button-radius) !important;
}

#urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner {
  border-top: none !important;
}

.urlbarView-row-inner {
  border-radius: var(--small-button-radius) !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon, toolbar .toolbarbutton-1 > .toolbarbutton-text, toolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {
  border-radius: var(--small-button-radius) !important;
}

#PlacesToolbar menuitem, #PlacesToolbar menu, .subview-subheader, panelview .toolbarbutton-1, .subviewbutton, .widget-overflow-list .toolbarbutton-1 {
  border-radius: var(--small-button-radius) !important;
}

.PanelUI-subView menuseparator, #PlacesToolbar menupopup[placespopup="true"] toolbarseparator, #widget-overflow-mainView > toolbarseparator, #widget-overflow-mainView > .panel-subview-body > toolbarseparator, .PanelUI-subView toolbarseparator, #permission-popup-mainView > toolbarseparator, #protections-popup-multiView toolbarseparator, #identity-popup-mainView toolbarseparator, #identity-popup-securityView > toolbarseparator, #editBookmarkPanel toolbarseparator, #downloadsFooterButtons > toolbarseparator, .cui-widget-panelview menuseparator, .cui-widget-panel toolbarseparator {
  border-top: none !important;
}

:is(menupopup, panel)[type="arrow"] {
	--panel-border-radius: 15px !important;
}

button {
	border-radius: 10px !important;
}

.subviewbutton {
	border-radius: 10px !important;
}

.identity-box-button {
	border-radius: 8px;
}

#notification-popup-box {
	border-radius: var(--small-button-radius) !important;
}
